@model EyeWitnessReport

<form method="post" asp-action="DeletePOST">
	<input asp-for="Id" hidden/>
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Report</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="FirstName">First Name</label>
			<input asp-for="FirstName" disabled class="form-control" />
		
		</div>
		<div class="mb-3">
			<label asp-for="LastName">Last Name</label>
			<input asp-for="LastName" disabled class="form-control" />
			
		</div>
		<div class="mb-3">
			<label asp-for="PhoneNum">Phone Number</label>
			<input asp-for="PhoneNum" disabled class="form-control" />
		
		</div>
		<div class="mb-3">
			<label asp-for="ContactAddress">Contact Address</label>
			<input asp-for="ContactAddress" disabled class="form-control" />
			
		</div>
		<div class="mb-3">
			<label asp-for="NatureofIncidence">Nature of Incidence</label>
			<input asp-for="NatureofIncidence" disabled class="form-control" />
			
		</div>
		<div class="mb-3">
			<label asp-for="LocationofIncidence">Location of Incidence</label>
			<input asp-for="LocationofIncidence" disabled class="form-control" />
		
		</div>
		<div class="mb-3">
			<label asp-for="IncidenceReportNarration">Incidence Report Narration</label>
			<input asp-for="IncidenceReportNarration" disabled class="form-control" />
			
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Delete Report</button>
		<a asp-controller="EyeWitnessReport" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to Report
		</a>
	</div>
</form>

@section Scripts{
@{
	<partial name="_ValidationScriptsPartial" />
}
}
